h1 {
    color: black;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

button {
    padding: 25px;
}