@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .headline {
    font-family: 'Indie Flower', cursive;
    font-size: 2.3rem; 
    color: white;
    margin-bottom: 25px;
  }

  .display-section {
    display: flex;
    justify-content: center;
    flex: 2;
  }

  .tv-section {
    display: flex;

    justify-content: center;
  }

  .tv {
    height: 48vh;
    z-index: 3;
  }

  .game-buttons {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 5rem;
  }

  .btn {
    height: 20vh;
    width: 11vw;
    color: white;
    overflow: hidden;
    /* border: 2px solid white; */
    transition: 0.5s;
  }

  .btn:hover {
    padding: 15px;
  }

  .rock {
    margin-top: 10px;
    margin-left: 49px;
  }

  .paper {
    margin-top: 10px;
  }

  .scissors {
    margin-left: 10px;
    margin-top: 15px;
  }

  .screen {
    animation: colorPulse 5s infinite ease-in-out;
    background-image: radial-gradient(#444, #111);
    box-shadow: 0 0 5vmin 1vmin #000 inset;
    box-sizing: border-box;
    color: white;
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
    position: absolute;
    overflow: hidden;
    padding: 5vmin;
    width: 23vw;
    height: 37vh;
    margin-top: 2rem;
    margin-right: 7rem;
  }

  .gap {
    gap: 3rem;
  }

  .title {
    font-size: 25px;
  }

  .round-result img {
    height: 120px;
    margin-left: 110px;
  }

  .score {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    margin-left: 50px;
  }

  .user-score,
  .pc-score {
    font-size: 3rem;
  }

  .headline,
  .footer-text {
    text-align: center;
  }

  .footer-text {
    padding: 20px;
    color: white;
  }

